:root {
  /* Головні кольори */
  --iris: #4d5ae5;      /* Акцентний колір */
  --ocean: #404bbf;     /* Активний стан (hover/focus) */
  --navy-blue: #2e2f42; /* Основний фон, заголовки */
  --slate: #434455;     /* Основний текст */
  --white: #ffffff;     /* Білий фон, текст на темному фоні */
  --cloud: #f4f4fd;     /* Світло-сірий фон, футер лого */
}

/* Base Styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455; 
  background-color: #ffffff; 
}

/* Скидання стилів */
.list {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.link {
  text-decoration: none;
}

/* Стилізація контейнера */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px; 
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------------------------------------- */
/* Header */
/* ---------------------------------------------------- */
.header {
  border-bottom: 1px solid #e7e9fc; 
}


.header .container {
    text-align: center; 
    padding-top: 24px;   
    padding-bottom: 24px;
}

.header-container,
.contacts {
    display: inline-block;
    vertical-align: middle;
}

.contacts {
    margin-left: 330px; 
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-span {
  color: var(--navy-blue);
}

.nav-list li {
    display: inline-block;
    margin-right: 40px;
}

.nav-list li:last-child {
    margin-right: 0;
}


.menu-link {
  display: block; 
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf; 
}

.contacts {
  font-style: normal;
}

.contacts-list li {
    display: inline-block;
    margin-left: 40px;
}


.contact-link {
  display: block; 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf; 
}

/* ---------------------------------------------------- */
/* Hero */
/* ---------------------------------------------------- */
.hero {
  background-color: var(--navy-blue);
  padding: 188px 0; 
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  cursor: pointer;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px; 
  padding: 16px 32px; 
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF; 
}

/* ---------------------------------------------------- */
/* Features (Services) */
/* ---------------------------------------------------- */
.features {
  padding: 120px 0;
}

.features-list {
  text-align: justify; 
  text-align-last: justify;
  margin-bottom: 24px;
}

.features-list:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.features-item {
  display: inline-block;
  vertical-align: top;
  width: calc((100% - 3 * 24px) / 4);
  margin-right: 24px;
}

.features-item:nth-child(4n) {
    margin-right: 0;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------------------------------------------- */
/* Team & Portfolio */
/* ---------------------------------------------------- */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-list {
  text-align: justify;
  text-align-last: justify;
}

.team-list:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.team-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4); 
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.team-item:nth-child(4n) {
    margin-right: 0;
}

.team-item img {
  display: block;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 32px;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-list {
  text-align: justify;
  text-align-last: justify;
}

.portfolio-list:after {
    content: '';
    width: 100%;
    display: inline-block;
}

.portfolio-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  margin-bottom: 48px; 
  width: calc((100% - 2 * 24px) / 3); 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item img {
  display: block;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-top: 32px;
  margin-bottom: 8px;
  padding: 0 16px; 
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 0 16px 32px; 
}

/* ---------------------------------------------------- */
/* Footer */
/* ---------------------------------------------------- */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.logo-span-footer {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
}